.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  .logo {
    font-family: 'Open Sans', sans-serif;
  }
  .socials__list {
    list-style: none;
    display: flex;
    li {
      margin: 0px 15px;
      font-size: 22px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        i {
          color:$light-black;
          transition: color 0.3s;
          will-change: color;
        }
      }
      &:hover {
        a {
          i {
            color:black;
          }
        }
      }
    }
  }
}
